- name: Install OpenVPN, easy-rsa and iptables-persistent
  apt:
    name:
    - openssl
    - openvpn
    - easy-rsa
    - iptables-persistent

- name: Softlink easyrsa
  file:
    src: /usr/share/easy-rsa/easyrsa
    dest: /usr/local/bin/easyrsa
    state: link

- name: Write server conf
  template:
    src: server.conf.j2
    dest: /etc/openvpn/server.conf

- name: Init CA
  include_tasks:
    file: init-ca.yml

- name: Stat server cert
  stat:
    path: "/etc/openvpn/{{server_cn}}.crt"
  register: server_cert

- name: Generate server cert
  shell:
    chdir: "{{ ca_dir }}"
    cmd: |
      easyrsa --batch build-server-full {{server_cn}} nopass  
      cp pki/issued/{{server_cn}}.crt pki/private/{{server_cn}}.key /etc/openvpn
  environment:
    EASYRSA_EXT_DIR: "{{ ca_dir }}/x509-types"
  when: not server_cert.stat.exists

- name: Reroute all traffic
  include_tasks:
    file: reroute.yml
  when: reroute_all_traffic

- name: Issue certs
  easyrsa_issue:
    server: "{{ ansible_host }}"
    ca_dir: "{{ ca_dir }}"
    issued: "{{ issued }}"
  environment:
    EASYRSA_EXT_DIR: "{{ ca_dir }}/x509-types"
  register: issue

- name: Revoke certs
  easyrsa_revoke:
    ca_dir: "{{ ca_dir }}"
    revoked: "{{ revoked }}"
  register: revoke

- name: Stat crl
  stat:
    path: /etc/openvpn/crl.pem
  register: crl

- name: Generate crl
  shell:
    chdir: "{{ ca_dir }}"
    cmd: |
      easyrsa --batch gen-crl
      cp pki/crl.pem /etc/openvpn
  when: revoke.changed or not crl.stat.exists

- name: Enable and start service
  systemd:
    enabled: true
    name: openvpn@server
    state: started

- name: Fetch issued certs
  fetch:
    src: "{{ item }}"
    dest: ./
    flat: yes
  ignore_errors: true
  loop: "{{ issue.files }}"