---

- name: Install OpenVPN and easy-rsa
  apt:
    name: 
    - openvpn
    - easy-rsa
    - iptables-persistent
  when: not fast

- name: Write server conf
  template:
    src: server.conf.j2
    dest: /etc/openvpn/server.conf
  when: not fast

- name: Softlink easyrsa
  file:
    src: /usr/share/easy-rsa/easyrsa
    dest: /usr/bin/easyrsa
    state: link
  when: not fast
 
- name: Init CA
  include_tasks:
    file: init.ca.yml
  when: not fast

- name: Reroute all traffic
  include_tasks:
    file: reroute.yml
  when: reroute_all_traffic

- name: Issue certs
  issue:
    server: "{{ ansible_host }}"
    ca_dir: "{{ ca_dir }}"
    issued: "{{ issued }}"
  environment:
    EASYRSA_EXT_DIR: "{{ ca_dir }}/x509-types"
  register: issue

- name: Revoke certs
  revoke:
    ca_dir: "{{ ca_dir }}"
    revoked: "{{ revoked }}"
  register: revoke

- name: Generate crl
  generate_crl:
    ca_dir: "{{ ca_dir }}"
  
- name: Enable and start service
  systemd:
    enabled: true
    name: openvpn@server
    state: started

- name: Fetch issued certs
  fetch:
    src: "{{ item }}"
    dest: ./
    flat: yes
  ignore_errors: true
  loop: "{{ issue.files }}"