dev tun
ca ca.crt
cert server.crt
key server.key
crl-verify crl.pem
dh dh.pem
server {{ vpn_ip }} {{ vpn_mask }}
client-to-client
ifconfig-pool-persist ipp.txt
keepalive 10 120
{% if reroute_all_traffic %}
push "redirect-gateway def1"
{% endif %}
verb 3
explicit-exit-notify 1
tls-auth ta.key 0